APP_NAME=neuralapi
APP_HOST=localhost
APP_PORT=8012
EXT_API_TIMEOUT=1000
DATASET_BEAUTY_PATH=datasets/beauty
DATASET_EDUCATION_PATH=datasets/education
DATASET_RELAX_PATH=datasets/relax
DATASET_RESTUARANTS_PATH=datasets/restuarants
DATASET_DRESS_PATH=datasets/dress
PATH_TO_DOWNLOADS=downloads
FB_API_KEY=
FB_SECRET_KEY=

SD_KEYS="a, b ,c"







