[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
requests = "*"
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
apscheduler = "*"
pydantic-settings = "*"
pydantic-core = "*"
asyncpg = "*"
langchain = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
