.Menu {
    flex-grow: 1;
    /* position: fixed;
    margin: 15vmin; */
    /* max-width: 250px; */
    width: 100%;
    padding: 20px;
    border-radius: 40px;
    background-color:rgba(0, 255, 255, 0.429);
    opacity: 0.4;
    transition: opacity 0.5s ease-in;
}

.Menu:hover {
    opacity: 1;
}
