PROJECT_NAME=movies_auth
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
AUTH_HOST=fauth-service
AUTH_PORT=8000

POSTGRES_HOST=pg-auth
POSTGRES_PORT=5432
POSTGRES_DB_AUTH_SCHEMA=auth
POSTGRES_DB_AUTH=move_base
POSTGRES_USER=student
POSTGRES_PASSWORD=student
BATCH_SIZE=6000


ONE_TIME_START=1
START_FROM_FILE=1
FAKER=0
UPDATE_ANY_WAY=1

ACCESS_TOKEN_EXPIRES_IN=30
REFRESH_TOKEN_EXPIRES_IN=60

JWT_ALGORITHM=HS256
JWT_SECRET_KEY=my_secret_key

ADMIN_ACCESS_LEVEL = 5

YA_CLIENT_ID=client_id
YA_CLIENT_SECRET=secret
YA_ACCESS_TOKEN_URL=https://oauth.yandex.ru/token
YA_AUTHORIZE_URL=https://oauth.yandex.ru/authorize
YA_API_BASE_URL=https://login.yandex.ru/
YA_REDIRECT_URIS=url