.App-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 30vmin;
    margin-right: 3vmin;
    padding: 10px;
    border-radius: 50px;;
    background-color:rgba(0, 255, 255, 0.428);
}

.Img {
    display: block;
    width: auto;
    height: auto;
    max-width: 70%;
  }