body,
body * {
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    /* color: #7700ff; */
    /* color: #273a64; */
    min-height: 100vh;
    max-height: 100vh;
    padding-right: 5vmin;
    padding-left: 5vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* justify-content: space-between; */
    /* font-family: RostelecomBasis-Regular; */
    background-image: url("./lightplus_bg_x2.svg");
    background-size: cover;
    /* background-attachment: scroll; */
}

@keyframes rubber {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }