.ImageWrapper {
    min-height: 80%;
    border-radius: 30px;
    border-color: rgb(47, 224, 224);
    border-style: solid;
    /* background-image: url('../../loading.gif'); */
    background-size: 100%;
    background-color: aliceblue;
    background-position-y: center;
    background-repeat: no-repeat;
  }

  .Image {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 30px;
    /* max-height: 200px; */
  }
